#action {
    margin: 0 auto;
    background: #fff;
    padding: 10px 10px 0px 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 #00000000, 0 6px 20px 0 #0000001f;
}

#explore {
    padding: 0px 20px;
}

#enroll {
    padding: 0px 28px;
}

#learn {
    padding-left: 25px;
}

#explore,
#enroll,
#learn {
    display: inline-block;
    width: 28%;
}

#explore>img,
#enroll>img,
#learn>img {
    margin-top: -75px;
    padding-right: 10px;
}

#explore-info,
#enroll-info,
#learn-info {
    display: inline-block;
}