body {
    /* padding-top: 7.5rem; */
    padding-bottom: 9.5rem;
    background: #bebebe;
}


/* Temporary */

#card-element {
    margin: 0 auto;
    box-shadow: 0 1px 1px 0 #00000000, 0 1.5px 5px 0 #0000001f;
}

#course-info {
    padding-bottom: 18px;
}

#stats {
    display: inline-flex;
    width: 100%;
    position: relative;
}

#views {
    position: absolute;
}

#duration {
    position: absolute;
    left: 100px;
}

#price {
    float: right;
    margin-top: 14px;
}

#price>span {
    font-size: 22px;
    color: #29b1a7;
    font-weight: 900;
}

#card-image {
    padding: 8px 5px 0px 5px;
    position: relative;
}

#card-element {
    width: 17rem !important;
}

.card-img-top {
    height: 170px;
}

#favourite {
    position: absolute;
    right: 25px;
    top: 20px;
    color: #b8c1c0;
}

#top-mentor {
    position: absolute;
    top: 20px;
}

#top-mentor-text {
    font-size: 11px;
    position: absolute;
    top: 25px;
    z-index: 1;
    padding-left: 4px;
    font-weight: 600;
}

.lightGrey {
    color: #d8dad9;
}

.stats-color {
    color: #b3bdbc;
}

.star-color-notSelected {
    color: #b3beba;
}

.star-color-selected {
    color: #f4a725;
}